@page "/consultavacuna"
@using Registro_Vacunacion_EQNuGet.Models

@{
    var GetPersonas = from per in db.Personas
                      join pro in db.Provincias
                      on per.Provincia equals pro.Id
                      select new
                      {
                          Personas = per,
                          Provincias = pro,
                      };

    var Filtro = GetPersonas.Where(p => p.Personas.Nombre.ToLower().Contains(BuscarN.ToLower()) || p.Personas.Apellido.ToLower().Contains(BuscarN.ToLower()));
}

<h3>Listado de Vacunados por Personas</h3>
<br>
<center>
    <input type="text" placeholder="Escriba nombre y apellido del vacunado o vacunada" @bind-value="BuscarN" @bind-value:event="oninput">
</center>
<span class="text-muted">
    Showing @Filtro.Count() out of @GetPersonas.Count()
</span>

<table class="table table-bordered table-dark">
    <thead>
        <tr>

            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Vacuna Recibida</th>
            <th>Provincia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var per in Filtro)
        {

            <tr>
                <td>@per.Personas.Cedula</td>
                <td>@per.Personas.Nombre</td>
                <td>@per.Personas.Apellido</td>
                <td>@per.Personas.Telefono</td>
                <td>@per.Personas.VacunaRecibida</td>
                <td>@per.Provincias.Nombre</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    sistemavacunacionContext db = new();

    string BuscarN { get; set; } = "";

}