@page "/listadovacuna"
@using Registro_Vacunacion_EQNuGet.Models


@{
    var GetPersonas = from per in db.Personas
                      join pro in db.Provincias
                              on per.Provincia equals pro.Id
                      select new
                      {
                          Personas = per,
                          Provincias = pro,
                      };

    var GetVacunadosByProvincia = from per in db.Personas
                                  join pro in db.Provincias
                                  on per.Provincia equals pro.Id
                                  group per by new { pro.Id, pro.Nombre } into g
                                  select new
                                  {
                                      Provincia = g.Key.Nombre
                                  };

    var Filtro = GetPersonas.Where(p => p.Provincias.Nombre.ToLower().Contains(BuscarN.ToLower()));
}



<div class="container container-fluid">
    <h2>Listado de vacunados por Provincia</h2>
</div>

<EditForm Model="true">

    <div class="input-group mb-3">
        <InputSelect @bind-Value="BuscarN" class="form-control">
            @foreach (var p in db.Provincias.OrderBy(p => p.Nombre))
            {
                <option value="@p.Nombre">@p.Nombre</option>
            }
        </InputSelect>
    </div>

</EditForm>

<span class="text-muted">
    Showing @Filtro.Count() out of @GetPersonas.Count()
</span>


<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre Completo</th>
            <th>Telefono</th>
            <th>Primera Vacuna</th>
            <th>Segunda Vacuna</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var per in Filtro)
        {
            <tr>
                <td>@per.Personas.Cedula</td>
                <td>@per.Personas.Nombre @per.Personas.Apellido</td>
                <td>@per.Personas.Telefono</td>
                <td>@per.Personas.FechaPrimeraDosis</td>
                <td>@per.Personas.FechaSegundaDosis</td>
            </tr>
        }
    </tbody>
</table>





@code{
    sistemavacunacionContext db = new();
    //Personas persona = new();
    string BuscarN { get; set; } = "";

}
