@page "/registrovacuna"
@using System.Text.Json
@using System.Net.Http.Json;
@using Registro_Vacunacion_EQNuGet.Data
@using Registro_Vacunacion_EQNuGet.Models
@inject HttpClient http

<h1>Registro de Vacuna</h1>

<EditForm Model="persona">

    <DataAnnotationsValidator />

    <div class="container">

        <div class="row">

            <label class="form-label">C&eacute;dula</label>
            <div class="input-group mb-4">
                <InputText @bind-Value="persona.Cedula" class="form-control" />
                <button type="button" @onclick="GetPersonaByCedula" class="ml-5 btn btn-primary">Verificar C&eacute;dula</button>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-6">

                <label class="form-label">Nombre</label>
                <div class="input-group mb-4">
                    <InputText @bind-Value="persona.Nombre" class="form-control" disabled="@(FoundOnDB || FoundOnAPI)" />
                </div>

                <label class="form-label">Apellido</label>
                <div class="input-group  mb-4">
                    <InputText @bind-Value="persona.Apellido" class="form-control" disabled="@(FoundOnDB || FoundOnAPI)" />
                </div>

                <label class="form-label">Tel&eacute;fono</label>
                <div class="input-group mb-4 ">
                    <InputText @bind-Value="persona.Telefono" class="form-control" disabled="@FoundOnDB" />
                </div>

                <label class="form-label">Fecha de Nacimiento</label>
                <div class="input-group mb-4">
                    <InputDate type="datetime-local" @bind-Value="persona.FechaNacimiento" class="form-control" disabled="@(FoundOnDB || FoundOnAPI)" />
                </div>

                <label class="form-label">Provincia</label>
                <div class="input-group mb-4">
                    <InputSelect @bind-Value="persona.Provincia" type="text" class="form-control" disabled="@FoundOnDB">
                        @foreach (var provincia in db.Provincias.OrderBy(p => p.Nombre))
                        {
                            <option value="@provincia.Id">@provincia.Nombre</option>
                        }
                    </InputSelect>
                </div>

            </div>

            <div class="col-lg-6">

                <label class="form-label">Vacuna Recibida</label>
                <div class="input-group mb-4">
                    <InputSelect @bind-Value="persona.VacunaRecibida" type="text" class="form-control" disabled="@FoundOnDB">
                        @foreach (var vacuna in db.Vacunas.Where(v => v.Cantidad > 0)
                        .OrderBy(v => v.Marca))
                        {
                            <option value="@vacuna.Id">@vacuna.Marca (@vacuna.Cantidad.ToString("N0"))</option>
                        }
                    </InputSelect>
                </div>

                <label class="form-label">Fecha de la Primera Dosis</label>
                <div class="input-group mb-4">
                    <InputDate @bind-Value="persona.FechaPrimeraDosis" @bind-Value:format="dd MM yyyy" class="form-control" disabled="@FoundOnDB" />
                </div>

                <label class="form-label">Fecha de la Segunda Dosis</label>
                <div class="input-group mb-4">
                    <InputDate @bind-Value="persona.FechaSegundaDosis" class="form-control" disabled="@(FoundOnDB && persona.FechaSegundaDosis.HasValue)" />
                </div>

            </div>

        </div>

    </div>

</EditForm>

@code {
    Personas persona = new() { Cedula = "" };

    CedulaAPI cedulaAPI = new() { Ok = true };
    
    bool FoundOnDB;
    bool FoundOnAPI;

    sistemavacunacionContext db = new();

    async void GetPersonaByCedula()
    {
        FoundOnAPI = false;
        FoundOnDB = false;

        if (persona.Cedula.Length == 11)
        {
            var query = db.Personas.Where(p => p.Cedula == persona.Cedula);

            if (query.Count() == 1)
            {
                persona = query.First();
                FoundOnDB = true;
                FoundOnAPI = false;
            }

            if (query.Count() == 0)
            {
                cedulaAPI = await http.GetFromJsonAsync<CedulaAPI>($"https://api.adamix.net/apec/cedula/{persona.Cedula}");

                if (cedulaAPI.Ok)
                {
                    persona.Nombre = cedulaAPI.Nombres;
                    persona.Apellido = $"{cedulaAPI.Apellido1} {cedulaAPI.Apellido2}";
                    persona.FechaNacimiento = DateTime.Parse(cedulaAPI.FechaNacimiento);
                    FoundOnAPI = true;
                    FoundOnDB = false;
                }
            }

            if (!FoundOnAPI && !FoundOnDB)
            {
                persona = new()
                {
                    Cedula = persona.Cedula
                };
            }
        }

        this.StateHasChanged();
    }
}